body {

    margin: 0;
    padding: 0;
    font-family: tahoma, arial, verdana;
    background: url('img/gray_jean.png');
    height: 100%;
}

div.header {
    background: url('img/navy_blue.png');
    height: 150px;
}

div.header h1 {
    margin: 0;
    color: white;
    padding-top: 95px;
}

div.wrapper {
    width: 960px;
    margin: 0 auto;
    display: block;
}

div.menu {
    height: 37px;
    background: url('img/bg_menu.png') repeat-x;
}

div.center {
    background: #fff;
    height: 700px;
    border: 1px solid #CCC;
    margin-top: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.menu ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

div.menu ul li {
    display: inline;
    line-height: 37px;
}

li.last a {
    border-right: 1px solid #c0c0c0;
}

div.menu ul li a:hover {
    color: #333;
}

div.content {
    padding: 0 20px;
}

div.content table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

div.content table tr td, div.content table tr hr {
    border: 2px solid #999;
}

button {
    background: white;
    border: 1px solid #999;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #FFFFFF, #DDDDDD);
    cursor: pointer;
}

div.opacity {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    background: #999;
    opacity: 0.6;
    top: 0;
    left: 0;
    overflow: hidden;
}

div.modal {
    width: 500px;
    height: 500px;
    background: white;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 30px 7px #333;
    position: absolute;
    margin-left: -250px;
    margin-right: -250px;
    top: 50%;
    left: 50%;
    z-index: 1002;
}

a.fechar {
    float: right;
    font-weight: 900;
    color: #111;
    text-decoration: none;
    border: 2px solid #999;
    padding: 0 40px;
}

div.modal-header {
    padding: 0 20px;
}

div.modal-header h2 {
    padding: 0 20px;
}

div.modal-body {
    padding: 0 20px;
}